name: Run CV Maker Script

on:
  push:
    branches: [ main ]

jobs:
  run-cv-maker:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout del repositorio
        uses: actions/checkout@v4

      - name: Configurar Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'
          
      - name: Ejecutar script principal
        run: python app.py
        env:
          OPENAI_API_KEY: ${{ secrets.OPENAI_API_KEY }}
